<link rel="stylesheet" type="text/css" href="css/treeview.css" />
<link rel="stylesheet" type="text/css" href="css/sidebar.css" />
<div ng-controller="ChoristersController" class="fullwidth-block">
	<div class="container">
		<div class="row">
			<div class="col-md-3">

	<div id='cssmenu'>
			<ul>
			   <li class='active'><a><span>PARTS</span></a></li>
			   <li class='has-sub'><a href='#'><span>Sopranos</span><span class="cnt">{{sopranos.length}}</span></a>
			      <ul>
			      	<li ng-repeat ="soprano in sopranos" onclick="personalprofile()"><a ui-sref="choristers.profile({id: soprano.id})"><span>{{soprano.label}}</span></a>
			      	</li>
			      </ul>
			   </li>
			   <li class='has-sub'><a href='#'><span>Altos</span><span class="cnt">{{altos.length}}</span></a>
			      <ul>
				    <li ng-repeat ="alto in altos" onclick="personalprofile()"><a ui-sref="choristers.profile({id: alto.id})"><span>{{alto.label}}</span></a>
			      	</li>
			      </ul>
			   </li>
			   	<li class='has-sub'><a href='#'><span>Tenors</span><span class="cnt">{{tenors.length}}</span></a>
			      <ul>
			      	<li ng-repeat ="tenor in tenors" onclick="personalprofile()"><a ui-sref="choristers.profile({id: tenor.id})"><span>{{tenor.label}}</span></a>
			      	</li>
			      </ul>
			   </li>
			   	<li class='has-sub last'><a href='#'><span>Basses</span><span class="cnt">{{basses.length}}</span></a>
			      <ul>
			      	<li ng-repeat ="bass in basses" onclick="personalprofile()"><a ui-sref="choristers.profile({id: bass.id})"><span>{{bass.label}}</span></a>
			      	</li>
			      </ul>
			   </li>
			</ul>
	</div>

			</div>

			<div class="col-md-9">
				<!-- <div ng-if="isChoristerSelected === false">Check out our choristers</div> -->
				<div ui-view></div>
			</div>

		</div>
	</div>
	<script type="text/javascript">
		  $(document).ready(function(){
	  $('#cssmenu > ul > li ul').each(function(index, e){
	  var count = $(e).find('li').length;
	  // var content = '<span class=\"cnt\">' + count + '</span>';
	  // $(e).closest('li').children('a').append(content);
	});
	$('#cssmenu ul ul li:odd').addClass('odd');
	$('#cssmenu ul ul li:even').addClass('even');
	$('#cssmenu > ul > li > a').click(function() {
	  $('#cssmenu li').removeClass('active');
	  $(this).closest('li').addClass('active'); 
	  var checkElement = $(this).next();
	  if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
	    $(this).closest('li').removeClass('active');
	    checkElement.slideUp('normal');
	  }
	  if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
	    $('#cssmenu ul ul:visible').slideUp('normal');
	    checkElement.slideDown('normal');
	  }
	  if($(this).closest('li').find('ul').children().length == 0) {
	    return true;
	  } else {
	    return false; 
	  }   
	});

		

	})

var personalprofile = function (){
      window.setTimeout(
        function(){ 
            $('html, body').animate({
            scrollTop: $('#profile').offset().top
            }, 'slow');
        },1000);
	}
</script>
</div>

