<!-- <link rel="stylesheet" type="text/css" href="fonts/ss-standard.css" /> -->
<link rel="stylesheet" type="text/css" href="css/gallery.style.css" />
			

<!-- 			<div class="page-head" data-bg-image="images/page-head-1.jpg">
				<div class="container">
					<h2 class="page-title">Families</h2>
				</div>
			</div> -->

			<main class="main-content">
				<div class="fullwidth-block">
					<div class="container">
						<div class="row">
							<div style="margin-top: -150px" class="content col-md-12">



<div id="slider">
	<input type="radio" id="button-1" name="controls" checked/>
	<input type="radio" id="button-2" name="controls" />
	<input type="radio" id="button-3" name="controls" />
	<input type="radio" id="button-4" name="controls" />
	<input type="radio" id="button-5" name="controls" />
	<input type="radio" id="button-6" name="controls" />
	<label for="button-1" class="arrows" id="arrow-1">&#x25BB;</label>
	<label for="button-2" class="arrows" id="arrow-2">&#x25BB;</label>
	<label for="button-3" class="arrows" id="arrow-3">&#x25BB;</label>
	<label for="button-4" class="arrows" id="arrow-4">&#x25BB;</label>
	<label for="button-5" class="arrows" id="arrow-5">&#x25BB;</label>
	<label for="button-6" class="arrows" id="arrow-6">&#x25BB;</label>
	<div id="slides">
		<div class='tk-museo-sans'>
			<span id="image-1"> 
				<span class="info">
					<strong>SoloBoy with his magical flute</strong>
					<!-- <em>(30 Mar)</em></span> -->
				</span>
			</span>
			<span id="image-2"> 
				<span class="info">
					<strong>Our instrumentalists at a performance</strong>
				</span>
			</span>
			<span id="image-3"> 
				<span class="info">
					<strong>Abimbola at Sir Olu Okeowo's house</strong>
				</span>
			</span>
			<span id="image-4"> 
				<span class="info">
					<strong>2017 Community Hymn Singing</strong>
				</span>
			</span>
			<span id="image-5"> 
				<span class="info">
					<strong>The Choirmaster - Mr. Dayo Sobanjo</strong>
				</span>
			</span>
			<span id="image-6"> 
				<span class="info">
					<strong>Olawunmi performing at one of our outings</strong>
				</span>
			</span>
		</div>
	</div>
</div>

						</div>
					</div>
				</div>
			</main> <!-- .main-content -->

		